.cursor::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  width: 4px;
  height: 100%;
  background-color: white;
  animation: blink-effect 1s step-end infinite;
}
@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
